/* CSS */
.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-icon {
    background-image: url(../Assets/images.jpg);
    border: 1px solid;
    height: 32px;
    width: 32px;
    background-size: cover;
    border-radius: 6px;
}
.navigation-container>nav>button {
    height: 32px;
    width: 120px;
    border: 1px solid;
    border-radius: 6px;
}
.content-container>header {
text-align: center;
}

.body-content {
    display: flex;
}
.core-body {
    height: 200px;
    width: 100%;
    border: 1px solid;
    margin: 18px;
}
.core-body>header>h2 {
    text-align: center;
}

.item-right {
    background-color: aliceblue;
    border: 0;
    border-radius: 8px;
}

.item-form {
    text-align: center;
}
.item-form>input {
    height: 32px;
    width: 50%;
    margin-left: 4px;
    border: 1px solid darkgrey;
    border-radius: 8px;
}

.our-package {
    background-color: aliceblue;
    height: 100px;
    align-content: center;
}
.our-package>h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}